## begin ionadmin 
1 2 ../ionconfig
s
## end ionadmin 

## begin bpadmin 
1
a scheme ipn 'ipnfw' 'ipnadminep'
a endpoint ipn:2.1 q
a protocol udp 1400 100
#a outduct udp 172.17.11.243:4556 'udpclo 2'
s
## end bpadmin 

## begin ipnadmin
#a plan 1 udp/172.17.11.243:4556
## end ipnadmin
