## begin ionadmin

1 1 '../ionconfig'

@ 2020/10/17-00:00:00

a contact +1 +31536000 1 2 100000 1.0

a range +1 +31536000 1 2 1

s

## end ionadmin 

## begin bpadmin 
1
a scheme ipn 'ipnfw' 'ipnadminep'

a endpoint ipn:1.0 q
a endpoint ipn:1.1 q
a endpoint ipn:1.2 q

a protocol tcp 1400 100

a induct tcp 0.0.0.0:4556 tcpcli
a outduct tcp 127.0.0.1:4556 tcpclo
a outduct tcp 192.168.0.88:4556 tcpclo

s

## end bpadmin 

## begin ipnadmin

a plan 1 tcp/127.0.0.1:4556
a plan 2 tcp/192.168.0.88:4556

e 1

## end ipnadmin
