## begin ionadmin

1 1 '../ionconfig'

@ 2020/10/17-00:00:00

a contact +1 +31536000 1 2 100000 1.0

a range +1 +31536000 1 2 275

s

## end ionadmin 

## begin bpadmin 
1
a scheme ipn 'ipnfw' 'ipnadminep'

a endpoint ipn:1.0 q
a endpoint ipn:1.1 q

a endpoint ipn:1.2 q

a endpoint ipn:1.64 q
a endpoint ipn:1.65 q

a protocol udp 1400 100

a induct udp 0.0.0.0:4556 udpcli
a outduct udp 127.0.0.1:4556 udpclo
a outduct udp 192.168.0.88:4556 udpclo

s

## end bpadmin 

## begin ipnadmin

a plan 1 udp/127.0.0.1:4556
a plan 2 udp/192.168.0.88:4556

e 1

## end ipnadmin

## begin cfdpadmin

1
a entity 2 bp ipn:2.0 0 0 0
s bputa

## end cfdpadmin